footer{
  background: var(--color-primary);
  padding: 3rem 6rem;
  text-align: center;
  /* margin-top: 7rem; */
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 0 0 ;
  align-items: center;
}
footer a{
  color: var(--color-bg);
}

.footer__socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer__socials a{
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}
.footer__socials a:hover{
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

/* ---- ++ ---- */
/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 600px) {
  .permalinks{
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__socials{
    margin-bottom: 1.5rem;
  }
}

/* ---- ++ ---- */