footer{
  padding: 3rem 6rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 0 0 ;
  align-items: center;

  background: rgba(255, 255, 255, 0.2);
  opacity: .7;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid rgba(157, 156, 156, 0.5);
  color: var(--color-primary);
}

.footer__container{
  margin: 6rem auto 0 !important;
}
.footer__socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer__socials a{

  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}
.footer__socials a:hover{
  background: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary );
}

/* ---- ++ ---- */
/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 600px) {
  .permalinks{
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__socials{
    margin-bottom: 1.5rem;
  }
  .footer__container{
    margin: 6rem auto 0 !important;
    display: flex;
    flex-direction: column;
  }

  footer{
    padding-bottom: 6rem;
  }
}

/* ---- ++ ---- */